.taskTable {
    position:absolute;
    width: 1200px;
}
.projects-list {
    display: inline-block;
    position:fixed;
    width: 30%;
    border-right: 1px solid #f3f3f3;
}
.tasks-list {
    display: inline-block;
    position:relative;
    top:0;
    left:35%;
    width: 30%;
    border-right: 1px solid #f3f3f3;
}
.task{
    position:absolute;
    display: inline-block;
    width: 30%;
    height: 100%;
    top: 0;
    right: 4%;
    border-right: 1px solid #f3f3f3;
}
h1 {
    margin: 0;
    font-weight: normal;
    color:#353535;
}
ul{
    padding: 10px;
}
li {
    list-style-type: none;
}
li.select {
    background: #F3F3F3;
}
li.deselect {
    background: #fff;
}
li:hover{
    cursor: pointer
}
a {
    color: #353535;
    text-decoration: none;
}
a:visited {
    color:#353535;
    text-decoration: none;
}
a:link {
    color:#353535;
    text-decoration: none;
}
a:hover {
    color:#353535;
    text-decoration: none;
}
.detalis {
    background-color: #fafafa;
    border: 1px solid #eee;
    padding: 2px;
    width: 96%;
}
button {
    margin-left: 10px;
}
button.editProj {
    margin-top: 10px;
}
