<div class="tasks-list">
    <h1>Tasks</h1>
    <div class="detalis">
        <div>Title: {{project.title}}</div>
        <div>Description: {{project.description}}</div>
        <a ui-sref=".edit">
            <button class="btn btn-default editProj">
                <span class="glyphicon glyphicon-edit"></span> Edit
            </button>
        </a>
    </div>
    <ul>
        <li ng-repeat="task in tasks" ng-class="setClass($index)">
            <a ui-sref=".description({taskId: task.id})" ng-click="select($index)"><span>{{task.title}}</span></a>
            <span ng-show="isSelect($index)" class="remove glyphicon glyphicon-remove" ng-click="remove()"></span>
        </li>
    </ul>
    <a ui-sref=".add">
        <button class="btn btn-default">
            <span class="glyphicon glyphicon-plus"></span> Add task
        </button>
    </a>
</div>